Repository bladepop/quantum-llama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantum-llama/maintainers, @quantum-llama/crawler-team, @quantum-llama/planner-team, @quantum-llama/engine-team, @quantum-llama/verification-team, @quantum-llama/api-team, @quantum-llama/web-team, @quantum-llama/security-team, @quantum-llama/core-team, @quantum-llama/docs-team, @quantum-llama/qa-team

feat(verification): add coverage diff check in CI
  .github/workflows/ci.yml
  tests/verification/test_coverage_check.py
  verification/coverage_check.py
Owners: @quantum-llama/maintainers, @quantum-llama/qa-team, @quantum-llama/verification-team

chore(pyproject): remove unused package includes for api, security, and cli
  pyproject.toml
Owners: @quantum-llama/maintainers

fix(verification): align test pass/fail logic with baseline parser
  verification/parser.py
Owners: @quantum-llama/verification-team

feat(tests): add unit tests for verification results parsing and coverage report generation
  coverage.xml
  tests/api/test_main.py
  tests/verification/test_parser.py
Owners: @quantum-llama/maintainers, @quantum-llama/qa-team

feat(verification): implement JUnit XML parser for test verification - parse before/after results, track changes, calculate status
  tests/verification/test_parser.py
  verification/parser.py
Owners: @quantum-llama/qa-team, @quantum-llama/verification-team

feat(verification): add merge-gate policy with test and confidence checks
  tests/verification/test_policy.py
  verification/policy.py
Owners: @quantum-llama/qa-team, @quantum-llama/verification-team

fix(ci): update dependency installation to use poetry
  .github/workflows/ci.yml
Owners: @quantum-llama/maintainers

feat(db): add repository layer and connection management
  db/config.py
  db/repository.py
Owners: @quantum-llama/maintainers

feat(db): implement initial database schema and connection management
  coverage.xml
  current-coverage.json
  db/alembic.ini
  db/connection.py
  db/migrations/env.py
  db/migrations/script.py.mako
  db/migrations/versions/20250430_initial.py
  db/models.py
  db/session.py
  engine/__init__.py
  planner/__init__.py
  poetry.lock
  pyproject.toml
  verification/__init__.py
Owners: @quantum-llama/maintainers, @quantum-llama/engine-team, @quantum-llama/planner-team, @quantum-llama/verification-team

fix(build): include all packages in pyproject.toml
  pyproject.toml
Owners: @quantum-llama/maintainers

feat(api): add FastAPI service with CRUD endpoints and tests
  api/main.py
  tests/api/conftest.py
  tests/api/test_main.py
Owners: @quantum-llama/api-team, @quantum-llama/qa-team

chore(ci): update CI workflow to use pip for dependency installation and simplify coverage commands
  .github/workflows/ci.yml
  pyproject.toml
Owners: @quantum-llama/maintainers

fix(ci): use poetry for dependency installation and test execution
  .github/workflows/ci.yml
Owners: @quantum-llama/maintainers

feat(models): add Run model for tracking code analysis and modification runs
  models/plan_item.py
  models/run.py
  pyproject.toml
Owners: @quantum-llama/core-team, @quantum-llama/maintainers

chore(dependencies): update pydantic, anyio, and poetry versions in pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Owners: @quantum-llama/maintainers

chore(dependencies): adjust anyio version constraint in pyproject.toml
  pyproject.toml
Owners: @quantum-llama/maintainers

fix(ci): update test command to include coverage environment variable and report generation
  .github/workflows/ci.yml
Owners: @quantum-llama/maintainers

fix(ci): add PYTHONPATH to CI workflow for test execution
  .github/workflows/ci.yml
Owners: @quantum-llama/maintainers

chore(dependencies): include additional packages in pyproject.toml for improved project structure
  pyproject.toml
Owners: @quantum-llama/maintainers

chore(dependencies): remove security package from pyproject.toml
  pyproject.toml
Owners: @quantum-llama/maintainers

chore(dependencies): remove cli package from pyproject.toml
  pyproject.toml
Owners: @quantum-llama/maintainers

.github/CODEOWNERS:

# Default owners for everything in the repo
* @quantum-llama/maintainers

# Crawler module
/crawler/ @quantum-llama/crawler-team

# Planner module
/planner/ @quantum-llama/planner-team

# Engine module
/engine/ @quantum-llama/engine-team

# Verification module
/verification/ @quantum-llama/verification-team

# API and Web modules
/api/ @quantum-llama/api-team
/web/ @quantum-llama/web-team

# Security module
/security/ @quantum-llama/security-team

# Models and core functionality
/models/ @quantum-llama/core-team
/core/ @quantum-llama/core-team

# Documentation
/docs/ @quantum-llama/docs-team

# Tests
/tests/ @quantum-llama/qa-team
